* {
  box-sizing: border-box;
}
body {
  background-color: darkgrey;
  margin: 0;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  top: 0;
  width: 100%;
}

.fixed-nav li.logo {
  max-width: 500px;
}
.fixed-nav .wrapper {
  transform: scale(1);
}
h1 {
  margin: 0;
  padding: 100px 30px;
  text-align: center;
  background-image: url(./assets/natural.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
nav {
  background-color: black;
  top: 0;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
  display: flex;
  font-size: 2em;
}
li {
  flex: 1;
  line-height: 2em;
  text-align: center;
}

li.logo {
  margin: 0;
  max-width: 0;
  overflow: hidden;
  background: white;
  color: black;
  transition: max-width 0.5s;
  font-weight: 600;
  font-size: 30px;
}

.wrapper {
  margin: 0 auto;
  max-width: 60%;
  border: 1px solid gainsboro;
  padding: 3%;
  background-color: white;
  margin-top: 100px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  transform: scale(0.98);
  transition: transform 0.5s;
}
